In [8]:
from causallib import datasets

data = datasets.data_loader.load_acic16()

In [11]:
data['po']

             0          1
0     3.890563   5.716108
1     5.870844   8.913574
2     7.006040  10.022676
3    -1.046089   2.952779
4    -0.478072   6.246069
...        ...        ...
4797  3.468946   5.867435
4798  4.827529   9.988942
4799  4.183918   9.469441
4800  4.684806  11.919826
4801  2.587836   7.410462

[4802 rows x 2 columns]

In [12]:
data['y']

0        3.157727
1        4.281244
2        7.621447
3        4.015639
4       -0.240268
          ...
4797     6.861145
4798     9.796457
4799    10.910222
4800    12.444005
4801     1.919016
Length: 4802, dtype: float64

In [13]:
data['a']

0       0
1       0
2       0
3       1
4       0
       ..
4797    1
4798    1
4799    1
4800    1
4801    0
Name: a, Length: 4802, dtype: int64